.auth-wrapper{
    display:grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 84px);
    .left-collumn{
        background-size: cover;
    }
    .right-collumn{
        display: flex;
        justify-content: center;
        align-items: center;
       background-color: rgba(40, 161, 121, 0.329);
       .auth-form{
           @include input-element();
           @include base-grid();
           grid-gap:32px;
           padding:42px;
          .authitems{
              display: flex;
              svg{
                  font-size: 2em;
                  color:cornsilk;
                  margin-right: 15px;
              }
          }
       }
    }
}