.Nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    .Right-side{
        a{
            margin-left: 10px;
            cursor: pointer;
            color: darkmagenta;
            transition: 0.5s ease-in-out;
            font-size: 1em;
            &:hover{
                 color: $warning;
                font-size: 1.3em;
            }
        }
    }
    .Left-side{
        display: flex;
    }
    .nav-link-wrapper{
        height:22px;
        border-bottom: 1px solid transparent;
        transition: 0.5s ease-in-out;
        margin-right: 20px;
        text-transform: uppercase;
        font-size: 0.9rem;
        a{
            color: $teal;
            text-decoration: none;
            &:hover{
                color: skyblue;
                border-bottom: 1px solid blue;
            }
        }
        .nav-link-active{
            border-bottom: 1px solid blue;
                    color: skyblue;
            }
    }
}