.sidebar-list{
    .sidebar_thumbnail{
        padding:21px;
        .sidebar_img img{
        width:100%;
        }
        .textside{
            display:flex;
            align-items: center;
            justify-content: space-between;
            .deletion{
            color:coral;
            cursor: pointer;
            font-size: 1.5em;
            transition: 0.5s ease-in-out;
            &:hover{
                color: crimson;
                font-size: 2.0em;
            }
            }
        .title{
            color:rgb(170, 197, 13);
            font-size: 1.5em;

        }
    }
    }
}